body {
  color: #0d577a !important;
  font-family: 'Raleway', sans-serif !important;
}

header {
  height: 8.5rem;
  color: #1a74bb;
  background-color: #f2f7fa;
}

h1 {
  padding: 1.8rem;
  margin: auto;
  font-size: 2.5rem;
}

form {
  min-height: calc(100vh - 120px);
}

.form-label {
  margin-top: 1rem;
}

#submit-button {
  width: 85px;
  margin: auto;
}

.card {
  width: 85%;
  margin: 3rem auto;
}

.section-header {
  border: #0d577a;
  background-color: #0d577a;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-radius: .3rem .3rem 0 0;
  margin-bottom: 2rem;
  padding: 5px;
  color: white;
}

.section-contents {
  width: 85%;
  margin: 0 auto 2rem;
  padding: 1rem;
}

.question-text {
  font-weight: bold;
}

.question {
  margin: 1.5em auto 3em;
  border: 1px solid lightgray;
  padding: 2rem;
}

span {
  color: red;
}

textarea {
  width: 95%;
  height: 80px;
  padding: .5rem .8rem;
  border: 1px solid #ccc;
  font-size: .8rem;
}

select {
  border: 1px solid #ccc;
  width: 100%;
}

img {
  height: 100px;
  margin-top: 8rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  height: 120px;
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.75rem;
  }
  footer img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}